
/* Css Reset */
* { 
     margin: 0;
     padding: 0;
}
/* Header */
header {
     background-color: #76549A;
     /* padding-left: 60px; */
}

/* Navbar */
nav ul {
     text-align: center;
}

nav ul li { 
     list-style-type: none;
     display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    display: inline-block;
    padding: 15px;
    margin-left: -10px;
    transition: 0.3s;
    font-family: 'Poppins',sans-serif;
    /* background: gr een; */
}

nav ul li a:hover { 
     background-color: #999;
     border-radius: 1px;
     border-radius: 2px;
}

/* End navbar */

/* Jumbotron */
.jumbotron {
     min-height: 400px;
     background: rgba(209, 81, 45, .9);
     text-align: center;
     padding: 10px;
     font-family: 'Poppins', sans-serif;
     color: white;
}

 .jumbotron .profile {
     width: 150px;
     height: 150px;
     border-radius: 50%;
     margin: auto;
     margin-bottom: 15px;
     overflow: hidden;
     margin-top: 5px;
     border: 5px solid #eee;
 }

 .jumbotron .profile img {
     text-align: center;
     width: 150px;
     max-height: 150px;
 }

 .jumbotron h2 {
     font-size: 1.5em;
     margin-left: 10px;
 }

 /* about */
 .about {
     min-height: 300px;
     padding: 10px 20px;
     font-family: 'Poppins', sans-serif;
     margin-top: 10px;
     padding-bottom: 40px;
     overflow: hidden;
 }

 .about h2 {
     text-align: center;
 }

 .about article {
     width: 400px;
     margin-top: 20px;
     margin-left: 30px;
     /* background-color: red; */
     float: left;
 }

 /* End about */

 /* Download CV */
 .download-cv {
     min-height: 400px;
     font-family: 'Poppins', sans-serif;
     clear: both;
 }

 .download-cv h2 {
     text-align: center;
 }

 .sertifikat {
     width: 18%     ;
     margin-top: 30px;
     border-radius: 10px;
     box-shadow: 0px 0px 3px rgba(0,0,0, .9);
     float: left;
     margin-right: 40px;
     /* margin: auto; */
     margin-bottom: 30px;
     transition: .5s;
     cursor: pointer;
     position: relative;
     left: 9%;
 }

 .sertifikat img {
     width: 100%;     
     max-height: 100%;
 }

 .sertifikat .keterangan-sertifikat {
     padding: 5px 15px;
 }

 .sertifikat:hover {
     transform: scale(1.1);
 }

 .container-cv {
     width: 300px;
     height: 300px;
     padding: 10px;
     margin: auto;
     clear: both;
     margin-bottom: 50px;
 }

 .container-cv .my-cv {
     width: 200px;
     height: 200px;
     background-color: #ddd;
     border-radius: 2px;
     transition: .3s;
     cursor: pointer;
     margin: auto;
 }

 .container-cv .my-cv:hover {
     background-color: #aaa;
     transform: scale(1.1);
 }

 .container-cv p {
     margin-top: 20px;
     margin-left: 50px;
 }

 /* End Download CV */

 /* Footer */
 footer {
     padding: 20px;
     background-color: #ddd;
     font-family: 'Poppins', sans-serif;
     text-align: center;
 }


 /* Responsive */
 @media (min-width: 295px) and (max-width :1326px) {
     
     /* About */
     .about {
          padding: 10px;
          padding-right: 30px;
          font-size: .8em;
          text-align: center;
          /* background-color: red; */
          overflow: hidden;
     }
     .about article {
          /* margin: auto; */
          width: auto;
          margin-top: 20px;
          float: none;
          /* background-color: red; */
      }
     
     /* Sertifikat */
     .download-cv h2 {
        margin-top: 30px;
          margin-bottom: 30px;
     }
     .sertifikat {
          width: 60%;
          margin: auto;
          float: none;
          margin-bottom: 40px;
          left: 0;
     }

     .download-cv .sertifikat img {
          width: 100%;
          max-height: 100%;
     }
 }

 /* @media (min-width: 200px) and (max-width :300px) {
     .about {
          overflow: hidden;
          width: auto;
     }
     
     .about article {
          font-size: 10px;
          margin-left: 0;
          float: none;
      }
 } */